.sobre-nosotros{
    background-color: rgba(231, 231, 214, 0.473);
    color: rgba(100, 100, 80, 0.644);
    margin: 10px;

    .contenido {
        height: 400px;

        .contenido__titulo{
            display: flex;
            justify-content: center;
        }
        .contenido__texto{
            padding: 0 15px;
            line-height: 20px;
        }
    }
    
}

#cate{
    padding-top: 40px;
    .cat123{
        width: 100%;
        opacity: 0.6;
    
        &:hover{
            transform: scale(1.1);
            transform-origin: center;
            opacity: 1;
        }
    }
}

